
body {
    margin:0;
    padding:0;

}
#container {
    min-height: calc(100vh - 180px);
}

.navbar-light .navbar-brand {
	color: orange !important;
	font-family: Georgia, 'Times New Roman', Times, serif;
  
}.navbar{
    width: 100%;
}
.navbar-nav {
	
    width: 50%;
}
.navbar-nav2{
    	width: 50%;;
        float: right;
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;

}
.dropdown-toggle::after {
    display:none !important;
 
}
.nav-item2 { margin-left: 69%;}
.logout i {font-style: normal; padding-left:15px}
.logout a{
    text-decoration: none !important;
    color: black;
}
.logout a:hover{
    text-decoration: none !important;
    color: orange;
}
.logout .bi-gear-fill {
    margin-right: 20px;
    cursor: pointer;
}
.saved{ width:70%;margin-left:15%;}
.saved h5{  color: rgb(236 160 0);margin-top: 20px;}
.main-title{width:100%;display: flex; box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;padding: 15px 15px 5px 15px }
.right{margin-left: auto;}
.left:hover{  color: rgb(236 160 0);cursor: pointer;}
.right:hover{  color: rgb(236 160 0); cursor: pointer;}



.jobs {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.job-search {
    width: 100%;
   
    
   
}

.card-job {
    width: 100%;
   
    background-color: white;
    padding: 10px;
    margin-top: 2%;
 
    margin-bottom: 15px;
}
.track img {width:120px;height: 120px; float: right;}
.track-img {width:25%; float: right;}
.card-job h6 {
    font-weight: bold;
} 

.card-job p {
    line-height: 10px;
}

.box {
    background-color: whitesmoke;
    width: 120px;
    padding: 15px;
    font-weight: bold;
}

.bi-caret-right-square-fill {
    color: blue;
}
.bold{font-weight: bold;}

.parg {
    color: black;
    font-size: 14px;
}
.all {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    height: 140px;
    margin-bottom: 15px;
}

.parg {
    color: black;
    font-size: 14px;
}

.foot-space{margin-top: 30px;}.footer-distributed {
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	height: 180px;
	font: bold 16px sans-serif;
	display: flex;
	


}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right ,
.footer-distributed .footer-icons  {
	display: inline-block;
	vertical-align: top;

}

/* Footer left */

.footer-distributed .footer-left {
	width:15%;
	height: 170px;

}

.footer-distributed .footer-left img {
	width: 100%;
	height: 170px;
}




/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
	height: 170px;
   

}

.info {
	width: 60%;
	margin-left: 20%;
	height: 170px;

}

.address ,.email{
	width:80%;height:85px;
    margin-left: 10%;
}

.t {
	padding-top: 25px;
}


.footer-distributed .footer-center .bi-telephone-fill{
	background-color: none !important;
	color: orange !important;
    padding-right: 15px;
	font-size: 20px;
}
.footer-distributed .footer-center .bi-envelope-open{
	background-color: none !important;
	color: orange !important;
    padding-right: 15px;
	font-size: 20px;
}

.footer-distributed .footer-center p {

	color: #ffffff;
	font-weight: 400;

}
.footer-distributed .footer-center p a {
	color: white;
	text-decoration: none;
	;
}
/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;

}
.right{padding-top:25px}
.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* Footer icons */
.footer-distributed .footer-icons {
	width: 30%;

}

.icons {
	width: 70%;
	margin-left: 15%;
	text-align: center;
	padding-top: 20px;

}

.icons h5 {
	color: white
}

.footer-company-name {
	text-align: center;
	font-size: 12px;
	padding-top: 35px
}
.footer-distributed .footer-icons .fb ,
.footer-distributed .footer-icons .yt ,
.footer-distributed .footer-icons .tw 
{
    color:rgb(57, 57, 57);
    padding-left: 10px;
    font-size: 40px;
    cursor: pointer;
}
.footer-distributed .footer-icons .fb:hover { color:blue; }
.footer-distributed .footer-icons .yt:hover { color:red; }
.footer-distributed .footer-icons .tw:hover {  color:rgb(0, 225, 255);}  
